<!DOCTYPE html>
<html>
<head>
    <title>Random Quote Generator</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            text-align: center;
            margin-top: 150px;
        }
        
        h1 {
            color: #333;
        }
        
        .quote {
            font-size: 24px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Random Quote Generator</h1>
    <div class="quote">{{ quote }}</div>
</body>
</html>